
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $.fastUpload = function (options) {
            var defaults = $.extend(true, {
                url: undefined,
                width: 480,
                height: 595,
                directory: "",
                limitFileSize: 4000000, //4MB
                extensions: "*",
                message: {
                    fileSizeExceed: "The file {0} exceeds limit allowed of {1} by file.",
                    extensionInvalid: "The extension of file {0} is invalid. The extensions are allowed {1}."
                },
                uploaded: function (){}
            }, options);
            var getUrl = function () {
                var url = defaults.url;
                url += "?targetOrigin=" + encodeURIComponent(location.href);
                url += "&directory=" + encodeURIComponent(defaults.directory);
                url += "&limitFileSize=" + defaults.limitFileSize;
                url += "&extensions=" + defaults.extensions.toLowerCase();
                url += "&message.fileSizeExceed=" + encodeURIComponent(defaults.message.fileSizeExceed);
                url += "&message.extensionInvalid=" + encodeURIComponent(defaults.message.extensionInvalid);
                return url;
            };
            var $dialog = $("#fast-upload-dialog").length === 0 ?
                $("<div></div>").attr("id", "fast-upload-dialog") : $("#fast-upload-dialog");
            var $iframe = $("<iframe></iframe>").attr({
                "src": getUrl(),
                "width": defaults.width-20,
                "height": defaults.height - 70,
                "frameborder": 0,
                "marginheight": 0,
                "marginwidth": 0,
                "scrolling": "no"
            });

            $dialog.empty().css({
                    "display": "none",
                    "width": defaults.width,
                    "height": defaults.height - 50,
                    "padding": 10,
                    "overflow": "hidden"
                })
                .append($iframe)
                .appendTo($("body"))
                .dialog({
                    modal: true,
                    width: defaults.width,
                    height: defaults.height,
                    draggable: false,
                    resizable: false,
                    open: function() {
                        $dialog.prev(".ui-dialog-titlebar").remove();
                        $dialog.closest(".ui-dialog").css({
                            "border": 0,
                            "padding": 0,
                            "top": 30
                        });
                    },
                    beforeClose: function() {
                        $dialog.remove();
                    }
                });
            
            $(window).off("message").on("message", function (e) {
                var parts = defaults.url.split("/");
                var target = parts[0] + "//" + parts[2];
                if (target === e.originalEvent.origin) {
                    defaults.uploaded.call(e.originalEvent.data.data);
                    $dialog.remove();
                }
            });
        };

        $.fn.fastUpload = function (options) {
            return this.each(function() {
                $(this).on("click", function(e) {
                    e.preventDefault();
                    $.fastUpload($.extend(true, {
                         url: $(this).attr("href")
                    }, options));
                });
            });
        };

        $("#open").fastUpload({
            directory: "@string.Format("storage/{0:yyyy}/{0:MM}/{0:dd}", DateTime.Today)",
            limitFileSize: 40000000,
            extensions: "jpg;png;bak",
            message: {
                fileSizeExceed: "O arquivo {0} excede o limite permitido de {1} por arquivo.",
                extensionInvalid: "A extensão do arquivo {0} é inválida. As extensões permitidas são: {1}."
            },
            uploaded: function () {
                $.each(this, function() {
                    $("<li></li>")
                        .append($("<a></a>").attr("href", "http://localhost:61670/downloads/" + this.path).html(this.name))
                        .appendTo($("#list"));
                });
                console.log(this);
            }
        });

    });
</script>
<a href="http://localhost:61670/api/uploads" id="open">Abrir</a>
<ul id="list">
    
</ul>